*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --clr-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --clr-input-error: hsl(0, 100%, 66%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-l-g-violet: hsl(270, 3%, 87%);
    --clr-d-g-violet: hsl(279, 6%, 55%);
    --clr-v-d-violet: hsl(278, 68%, 11%);
    --ff:'Space Grotesk', sans-serif;
    --fs: 1.125rem;
    --fw-500: 500;

}

body{
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-500);
}

main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    gap: 25rem;
}

/* CARD SIDE START */
.left-side{
    background-image: url('../images/bg-main-desktop.png');
    background-size: cover;
    background-position: center center;
    align-self: stretch;
    width: 550px;
}

.cardFront{
    position: absolute;
    left: 15%;
    top: 15%
}

.cardLogo{
    position: absolute;
    top: 12%;
    left: 8%;
}

.cardNumber{
    position: absolute;
    top: 50%;
    left: 6%;
    color: var(--clr-white);
    letter-spacing: 4px;
}

.cardName{
    position: absolute;
    top: 78%;
    left: 6%;
    color: var(--clr-white);
    letter-spacing: 2px;
}

.cardDate{
    position: absolute;
    top: 78%;
    left: 75%;
    color: var(--clr-white);
    letter-spacing: 2px;
}
.cardBack{
    position: absolute;
    top: 45%;
    left: 20%;
}

.cvc{
    position: absolute;
    top: 43.2%;
    left: 80%;
    color: var(--clr-white); 
    letter-spacing: 2px;
}
/* CARD SIDE END */

/* INPUT SIDE START */
.form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 2rem;
}

input{
    padding: 1rem 0.7rem;
    border-radius: 10px;
}

input:focus{
    border: 2px solid hsl(278, 94%, 30%);
    outline: none;
}

.month, 
.year{
    width: 80px;
}

.tag{
    display: flex;
    gap: 3rem;
}

.bottom-form{
    display: flex;
    gap: 1rem;
}

.holderText, 
.numberText, 
.tag{
    margin-bottom : -1.5rem;
    margin-left: 0.2rem;
    letter-spacing: 1px;
    font-size: 0.9rem;
    color: var(--clr-v-d-violet);
}
/* ERRORS - START */
.error_1,
.error_2{
    margin-top: -1.5rem;
    margin-left: 0.2rem;
    font-size: 0.8rem;
    color: var(--clr-input-error);  
    display: none;
}

.bottom_errors{
    display: flex;
    margin-top: 1.8rem;
}


.bottom_errors .error_1{
    gap: 6.5rem;
}

/* ERRORS END */
.btn-1{
    color: var(--clr-white);
    background: var(--clr-v-d-violet);
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-500);
    letter-spacing: 1px;
    border-radius: 10px;
    border: none;
    margin-top: -1rem;
    padding: 1rem;
}

.btn-1:hover{
    opacity: 0.7;
    cursor: pointer;
}
/* INPUT SIDE END */
/* after submit - start */
.submit{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
   
}

.completeIcon img{
    width: 120px;
}

.submit article h2{
    letter-spacing: 2px;
    color: var(--clr-v-d-violet);
}

.submit article p{
    color: var(--clr-d-g-violet);
    margin-top: 1rem;
}

.btn-2{
    color: var(--clr-white);
    background: var(--clr-v-d-violet);
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-500);
    letter-spacing: 1px;
    border-radius: 10px;
    border: none;
    margin-top: -1rem;
    padding: 1rem;
    width: 350px;
}

.btn-2:hover{
    opacity: 0.7;
    cursor: pointer;
}
/* after submit ends */
/* responsive start */
@media screen and (min-width: 1600px) {
    main{
        gap: 40rem;
    }
}
@media screen and (max-width: 1100px) {
    main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        gap: 2rem;
    }
    /* CARD RESPONSIVE START */
    .left-side {
        width: 100%;
        margin-bottom: 2rem;
        background-image: url("../images/bg-main-mobile.png");
        display: flex;
        flex-direction: column-reverse;
        margin-top: -5rem;
    }

    .cardFront img,
    .cardBack img{
        width: 90%;
        
    }

    .cardFront,
    .cardBack{
        width: 80%;
        position: relative;
    }

    .cardBack{
       top: 37.5%;
    }

    .cardFront{
       top: 15%;
       left: 5%;
       z-index: 1;
    }
    .cardLogo{
        max-width: 10vw;
    }

    .cardNumber{
        top: 54%;
        font-size: 3vw;
    }
    .cardName{
        top: 78%;
        font-size: 3vw;
    }

    .cardDate{
        top: 78%;
        left: 55%;
        font-size: 3vw;
    }

    .cvc{
        top: 42%;
        left: 68%;
        font-size: 3vw;
    }
    /* CARD RESPONSIVE END */
    /* FORM SIDE */
    .right-side{
        width: 90%;
        margin: 2.6rem 0;
    }

    .form{
        gap: 1rem;
        margin: 0;
    }

    input{
        width: 100%;
    }

    .holderText,
    .numberText,
    .tag{
        margin-bottom: -0.5rem;
        gap: 0;
    }

    .tag span:last-child{
        position:sticky;
        left: 70%;
    }

    .month,
    .year,
    .cv{
        width: 100%;
    }
 
    .bottom-form{
        width: 100%;
        gap: 0.5rem;
        display: flex;
    }
    
    .bottom-form div:last-child{
        flex-grow: 2;
    }

    .error_1,
    .error_2{
        margin-top: -0.9rem;
    }

    .bottom_errors{
        margin-top: 1.2rem;
        margin-bottom: 0.5rem;
    }
    .btn-1{
        margin-bottom: 1rem;
    }
}