*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --clr-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
    --clr-input-error: hsl(0, 100%, 66%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-l-g-violet: hsl(270, 3%, 87%);
    --clr-d-g-violet: hsl(279, 6%, 55%);
    --clr-v-d-violet: hsl(278, 68%, 11%);
    --ff:'Space Grotesk', sans-serif;
    --fs: 1.125rem;
    --fw-500: 500;

}

body{
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-500);
}

main{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    gap: 25rem;
}

@media screen and (min-width: 1600px) {
    main{
        gap: 40rem;
    }
}

/* CARD SIDE START */
.left-side{
    background-image: url('../images/bg-main-desktop.png');
    background-size: cover;
    background-position: center center;
    align-self: stretch;
    width: 550px;
}

.cardFront{
    position: absolute;
    left: 15%;
    top: 15%
}

.cardLogo{
    position: absolute;
    top: 18%;
    left: 17%;
}

.cardNumber{
    position: absolute;
    top: 30%;
    left: 16%;
    color: var(--clr-white);
    letter-spacing: 5px;
}

.cardName{
    display: flex;
    position: absolute;
    top: 36%;
    left: 16%;
    gap: 10rem;
    color: var(--clr-white);
    letter-spacing: 2px;
}

.cardBack{
    position: absolute;
    top: 45%;
    left: 20%;
}

.cvc{
    position: absolute;
    top: 43.2%;
    left: 80%;
    color: var(--clr-white); 
    letter-spacing: 2px;
}
/* CARD SIDE END */

/* INPUT SIDE START */
.right-side{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-right: 2rem;
}

input{
    padding: 1rem 0.7rem;
    border-radius: 10px;
}

.month, 
.year{
    width: 80px;
}

.tag{
    display: flex;
    gap: 3rem;
}

.bottom-form{
    display: flex;
    gap: 1rem;
}

.holderText, 
.numberText, 
.tag{
    margin-bottom : -1.5rem;
    margin-left: 0.2rem;
    letter-spacing: 1px;
    font-size: 0.9rem;
    color: var(--clr-v-d-violet);
}
/* ERRORS - START */
.error_1, 
.error_2{
    margin-top: -1.5rem;
    margin-left: 0.2rem;
    font-size: 0.8rem;
    color: var(--clr-input-error);
    display: none;
}

.bottom-error-1, 
.bottom-error-2{
    display: flex;
}

.bottom-error-1{
    gap: 6.5rem;
}

.bottom-error-2{
    margin-top: -2rem;
    gap: 1.2rem;
}
/* ERRORS END */
.btn-1{
    color: var(--clr-white);
    background: var(--clr-v-d-violet);
    font-family: var(--ff);
    font-size: var(--fs);
    font-weight: var(--fw-500);
    letter-spacing: 1px;
    border-radius: 10px;
    border: none;
    margin-top: -1rem;
    padding: 1rem;
}

.btn-1:hover{
    opacity: 0.7;
    cursor: pointer;
}